package ${TargetPackage};

import io.vertx.core.AbstractVerticle;
import io.vertx.core.Future;

/*
* ${TargetName}
*
* ${TargetDescription}
* created on ${CreationDate}
*
* @author ${CurrentUser}
* @since ${Version}
*/
public class ${TargetName} extends AbstractVerticle {


  @Override
  public void start(Future<Void> future) {

    // TODO Add business logic here

  }
}