/de.te2m.tools.netbeans.jsfutils/.settings
/de.te2m.tools.netbeans.jsfutils/target
/de.te2m.tools.netbeans.jsfutils/.classpath
/de.te2m.tools.netbeans.jsfutils/.project
/de.te2m.tools.netbeans.vertx/.settings
/de.te2m.tools.netbeans.vertx/target
/de.te2m.tools.netbeans.vertx/.classpath
/de.te2m.tools.netbeans.vertx/.project
/VertxProjectTemplate/.settings
/VertxProjectTemplate/target
/VertxProjectTemplate/.classpath
/VertxProjectTemplate/.project

/VertxProjectTemplate/nbproject/
/de.te2m.tools.netbeans.vertx/nbactions.xml
